<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-signin'  }) do |f| %>
  <div class="form-signin-heading"><h2>Resend confirmation instructions</h2></div>
  <%= bootstrap_flash %>

  <%= f.email_field :email, :autofocus => true, :placeholder => localized_attribute_name(User, :email) %>

  <%= f.submit "Resend confirmation instructions", :class => 'btn btn-primary' %>

  <%= render "devise/shared/links" %>
<% end %>
